NuclearWatchdog/Service References/Heartbeat/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://SWEN.755.Heartbeat" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://SWEN.755.Heartbeat" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://SWEN.755.Heartbeat/Imports">
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd0" namespace="http://SWEN.755.Heartbeat" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHeartbeat_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IHeartbeat_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IHeartbeat_Unregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Unregister" />
  </wsdl:message>
  <wsdl:message name="IHeartbeat_Unregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterResponse" />
  </wsdl:message>
  <wsdl:message name="IHeartbeat_Beat_InputMessage">
    <wsdl:part name="parameters" element="tns:Beat" />
  </wsdl:message>
  <wsdl:message name="IHeartbeat_Beat_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IHeartbeat">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://SWEN.755.Heartbeat/IHeartbeat/Register" message="tns:IHeartbeat_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://SWEN.755.Heartbeat/IHeartbeat/RegisterResponse" message="tns:IHeartbeat_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <wsdl:input wsaw:Action="http://SWEN.755.Heartbeat/IHeartbeat/Unregister" message="tns:IHeartbeat_Unregister_InputMessage" />
      <wsdl:output wsaw:Action="http://SWEN.755.Heartbeat/IHeartbeat/UnregisterResponse" message="tns:IHeartbeat_Unregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Beat">
      <wsdl:input wsaw:Action="http://SWEN.755.Heartbeat/IHeartbeat/Beat" message="tns:IHeartbeat_Beat_InputMessage" />
      <wsdl:output wsaw:Action="http://SWEN.755.Heartbeat/IHeartbeat/BeatResponse" message="tns:IHeartbeat_Beat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>