NuclearWatchdog/Service References/Heartbeat/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SWEN.755.Heartbeat" elementFormDefault="qualified" targetNamespace="http://SWEN.755.Heartbeat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RegisterResult" nillable="true" type="q1:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unregister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Beat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>